@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Degular";
    src: url("/fonts/Degular-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  